/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
  --bg-main : #e6e6e6;

}
body {
  font-family: Oswald-Medium;
}

.bg-main {
  background-color: var(--bg-main);
}


@font-face {
  font-family: Oswald-Medium;
  src: url(assets/Fonts/Oswald-VariableFont_wght.ttf);
}
.enlarge {
  transition: transform 800ms !important;
}
.enlarge:hover {
  transform: scaleX(1.1);
}
.Fenlarge {
  transition: transform 800ms !important;
}
.Fenlarge:focus {
  transform: scaleX(1.05);
}
input {
  color: black !important;
  padding-block: 20px  !important;
  padding-inline: 30px !important;
 
}
input::placeholder  {
  color: black !important;
}
input {
  width: 250px;
}
button {
  width: 250px !important;
}

@media (min-width : 768px) {
  input {
    width: 350px;
  }
  button {
    width: 350px !important;
  }
}